<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Floc</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/index.css}"> 
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{favicon.png}" width="30" height="30" alt="">
            </a>
        </nav>

        <script type="text/javascript" th:src="@{/js/index.js}"></script> 
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
