<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Floc</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/index.css}"> 
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img th:src="@{favicon.png}" width="30" height="30" alt="">
            </a>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Aktiv</th>
                    <th scope="col" class="text-center">Parzelle</th>
                    <th scope="col">Name</th>
                    <th scope="col">Addresse</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Alter Wasserstand</th>
                    <th scope="col">Neuer Wasserstand</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center">
                        <input class="form-check-input" type="checkbox" value="", id="flexCheckDefault">
                    </th>
                    <td class="text-center">1</td>
                    <td>Jane Doe</td>
                    <td>Musterstr. 12 01337 Musterstadt</td>
                    <td>0100/01000202</td>
                    <td>76,246</td>
                    <td>82,102</td>
                </tr>
            </tbody>
        </table>

        <script type="text/javascript" th:src="@{/js/index.js}"></script> 
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
